.dentalbox img{
    width:100%;
}

.dental_info h2{
    color:#31374C;
    font-size: 35px;
}
.dental_info p{
    color:#B0B0B0;
    font-size: 20px;
    margin: 20px 0;
}
button{
    background-color: #1CC7C1;
    border:none;
    padding:10px 24px;
    color: #fff;
    text-transform: capitalize;
}