.article{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:25px 35px;
    border-radius:7px;
}
.article__author{ 
    display:flex;
    padding:10px;
    align-items: center;
    margin-bottom: 30px;
}
.article__author img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.article__author_info{
    margin-left: 20px;
}
.company{
    font-size: 14px;
    margin-top: 4px;
}
.article__text{}
.article__text h4{
    font-size: 18px;
    margin-bottom: 10px;
    color:#3E3E40;
}
.article__text p{
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 2px;
    color:#B2B1B4;
}